/* CSS pour l'animation du menu */
#navbar-default {
  max-height: 500px; /* Hauteur maximale en mode PC */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

#navbar-default.hidden {
  max-height: 0; /* Hauteur minimale en mode mobile */
}
