/* Activer le défilement fluide */
* {
  scroll-behavior: smooth;
}

/* Navbar */
/* Ajoutez cette classe pour appliquer le flou */
.menu-open-blur {
  backdrop-filter: blur(
    16px
  ); /* Vous pouvez ajuster la valeur de flou selon vos préférences */
  background-color: rgba(
    0,
    3,
    2,
    0.8
  ); /* Couleur d'arrière-plan semi-transparente */
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #000);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #000302; /* Couleur de fond de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(23 37 84); /* Couleur du curseur de la scrollbar */
  border-radius: 3px; /* Coins arrondis du curseur */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(40, 61, 129); /* Couleur du curseur au survol */
}

/* Carousel */
/* Styles pour les cercles de pagination */
.swiper-pagination-bullet {
  background-color: white; /* Fond blanc */
  border: 1px solid rgb(0, 0, 0); /* Contour blanc */
  width: 10px; /* Largeur du cercle */
  height: 10px; /* Hauteur du cercle */
  margin: 5px; /* Marge autour du cercle */
}

/* Styles pour l'image avec le gradient */
.image-container {
  position: relative;
}

.image-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.95));
}
